@using System.Globalization
@model IEnumerable<MDAM.Models.News.New>

@{
    ViewBag.Title = "Новости компании";
}

<h2>Новости компании</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Добавить новое объявление", "Create")
    }
</p>
<table class="table">
    @foreach (var item in Model)
    {
        ViewBag.HrefMsg = "location.href='" + Html.Raw(Url.Action("Details", new { id = item.Id })) + "'";
        ViewBag.MouseOver = "parentElement.style.background='#eeeeee',this.style.cursor='pointer'";
        ViewBag.MouseOut = "parentElement.style.background='white'";
        <tr>
            <td class="col-md-12" onclick=@Html.Raw(ViewBag.HrefMsg) onmouseover=@Html.Raw(ViewBag.MouseOver) onmouseout=@Html.Raw(ViewBag.MouseOut)>
                <blockquote>
                    <p>
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                </blockquote>
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(" ", "DeleteConfirmed", new { id = item.Id }, htmlAttributes: new { @class = "btnRemove glyphicon glyphicon-remove pull-right confirm btn" })
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btnEdit glyphicon glyphicon-pencil pull-right btn" })
                }
            </td>
        </tr>
    }
</table>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryconfirm")
}
