@using WebGrease.Css.Extensions
@model MDAM.Models.Dialogs.Dialog

@{
    ViewBag.Title = "Диалоги";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить диалог?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DialogType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DialogType.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </dt>

        <dd>
            <ul>
                @foreach (var user in Model.ApplicationUsers)
                {
                    <li>@user.UserName</li>
                }
            </ul>

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
