@model IEnumerable<MDAM.Models.Dialogs.Dialog>

@{
    ViewBag.Title = "Диалоги";
}

<h2>@ViewBag.Count</h2>

<p>
    @Html.ActionLink("Создание нового диалога", "Create", routeValues: null, htmlAttributes: new { @class = "viewDialog", dialogTitle = "Новый диалог", dialogForm = "createForm", okBtn = "Создать", onclick = "refresh=true;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DialogType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        ViewBag.HrefMsg = "location.href='" + Html.Raw(Url.Action("Messages", new { id = item.Id })) + "'";
        ViewBag.MouseOver = "parentElement.style.background='#eeeeee',this.style.cursor='pointer'";
        ViewBag.MouseOut = "parentElement.style.background='white'";
        <tr>
            <td class="col-md-1" onclick=@Html.Raw(ViewBag.HrefMsg) onmouseover=@Html.Raw(ViewBag.MouseOver) onmouseout=@Html.Raw(ViewBag.MouseOut)>
                <div style="max-width:50px; max-height: 50px; overflow:hidden; display:inline-block;">
                    <img class="img-responsive" src="~/Images/Users/@item.CreatorUser.Image" width="50" />
                </div>
                @Html.DisplayFor(modelItem => item.CreatorUser.UserName, new { style = "position:absolute;bottom:20px;margin-bottom:30px;" })
            </td>
            <td class="col-md-1" onclick=@Html.Raw(ViewBag.HrefMsg) onmouseover=@Html.Raw(ViewBag.MouseOver) onmouseout=@Html.Raw(ViewBag.MouseOut)>
                @Html.DisplayFor(modelItem => item.DialogType.Title)
            </td>
            <td class="col-md-5" onclick=@Html.Raw(ViewBag.HrefMsg) onmouseover=@Html.Raw(ViewBag.MouseOver) onmouseout=@Html.Raw(ViewBag.MouseOut)>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-md-6">
                @foreach (var user in item.ApplicationUsers)
                {
                    <div class="form-horizontal">
                        <div style="max-width:50px; max-height: 50px; overflow:hidden; display:inline-block;">
                            <img class="img-responsive" src="~/Images/Users/@user.Image" width="50" />
                        </div>
                        @Html.ActionLink(user.UserName, "Details", "Account", new { id = user.Id }, new { target = "_blank", style = "position:relative;bottom:20px;" }) <br />
                    </div>
                }
            </td>
            <td class="col-md-1">
                @if (User.Identity.Name == item.CreatorUser.UserName)
                {
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btnRemove glyphicon glyphicon-remove pull-right confirm btn" })
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btnEdit glyphicon glyphicon-pencil pull-right btn viewDialog", dialogTitle = "Изменение диалога", dialogForm = "editForm", okBtn = "Изменить", onclick = "refresh=true;" })
                }
            </td>
        </tr>
    }

</table>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryconfirm")
}