@model MDAM.Models.Boards.Board

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Объявление</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Создатель")
        </dt>

        <dd>
            <div style="max-width:50px; max-height: 50px; overflow:hidden; display:inline-block;">
                <img class="img-responsive" src="~/Images/Users/@Model.CreatorUser.Image" width="50" />
            </div>
            @Html.ActionLink(Model.CreatorUser.UserName, "Details", "Account", new { id = Model.CreatorUserId }, new { target = "_blank", style = "position:relative;bottom:10px;margin-bottom:30px;" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
