<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - УРиС АБС УОР</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="navbar-container" class="container">
            @Html.Partial("_NavbarPartial")
        </div>
    </div>
    <div class="container body-content">
        <div id="dialog"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ОАО "Центр банковских технологий"</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        UpdateNavbar = function () {
            $.get('@Url.Action("Navbar", "Home")',
                            function (data) {
                                $("#navbar-container").html(data);
                            });
        }
    </script>
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
